$purple-100: hsl(254, 88%, 90%);
$purple-500: hsl(256, 67%, 59%);
$yellow-100: hsl(31, 66%, 93%);
$yellow-500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);

// desktop font-sizes
$main-title: 3.5rem;
$sub-title: 2rem;
$regular: 1.1rem;
$describe: 0.9rem;

// mobile font-sizes
$mobile-main-title: 2.5rem;
$mobile-regular: 1.3rem;
$mobile-describe: 1.1rem;

$gap: 35px;